{% extends "base.html" %}

{% block content %}
<div class="fr-container">
    <p>
        Bienvenue sur l'espace admin de roles.data.gouv.fr. Seuls les administrateurs peuvent y accèder.
    </p>
    <div class="fr-connect-group">
        <a class="fr-connect" type="button" href="/auth/pro-connect/login">
            <span class="fr-connect__login">S’identifier avec</span>
            <span class="fr-connect__brand">ProConnect</span>
        </a>
        <p>
            <a
                href="https://www.proconnect.gouv.fr/"
                target="_blank"
                rel="noopener"
                title="Qu'est-ce que ProConnect ? - nouvelle fenêtre"
            >
                Qu’est-ce que ProConnect ?
            </a>
        </p>
    </div>
</div>
{% endblock %}
