{% extends "base.html" %}

{% block content %}
<div class="fr-container">
  <h2>General info</h2>
  <ul>
    <li>Name : {{ details.name }}</li>
    <li>Creation : {{ details.created_at.strftime('%d/%m/%Y')}} {{ details.created_at.strftime('%H:%M:%S') }}</li>
    <li>MAJ : {{ details.updated_at.strftime('%d/%m/%Y') }} {{ details.updated_at.strftime('%H:%M:%S') }}</li>
    <li>Orga : {{details.organisation_name}} ({{ details.organisation_siret }})</li>
  </ul>

    <h2>Rights</h2>
  <div class="fr-table">
      <div class="fr-table__wrapper">
          <div class="fr-table__container">
              <div class="fr-table__content">
                   <table>
              <thead>
                  <tr>
                      <th>Creation</th>
                      <th>Maj</th>
                      <th>Service</th>
                      <th>Scopes</th>
                  </tr>
              </thead>
              <tbody>
                  {% for scope in scopes %}
                      <tr>
                          <td>{{ scope.created_at.strftime('%d/%m/%Y') }}</td>
                          <td>{{ scope.updated_at.strftime('%d/%m/%Y') }} {{ scope.updated_at.strftime('%H:%M:%S') }}</td>
                          <td>{{scope.service_provider_name}} ({{ scope.service_provider_id }})</td>
                          <td>{{ scope.scopes }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          </div></div>
          </div></div>


  <h2>Users ({{  users | length }})</h2>
    <div class="fr-table">
      <div class="fr-table__wrapper">
          <div class="fr-table__container">
              <div class="fr-table__content">
                   <table>
              <thead>
                <tr>
                      <th>Since</th>
                      <th>Email</th>
                      <th>Role</th>
                  </tr>
              </thead>
              <tbody>
                  {% for user in users %}
                      <tr>
                          <td>{{ user.created_at.strftime('%d/%m/%Y') }}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.role }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
          </div></div>
          </div></div>
</div>
{% endblock %}
