{% extends "base.html" %}
{% from "components/table.html" import data_table %}

{% block content %}

{% macro formatter(group) %}
    <tr>
        <td>{{ group.created_at.strftime('%d/%m/%Y') }}</td>
        <td>{{ group.updated_at.strftime('%d/%m/%Y') }} {{ group.updated_at.strftime('%H:%M:%S') }}</td>
        <td>{{group.organisation_name}} ({{ group.organisation_siret }})</td>
        <td>{{ group.user_count }}</td>
        <td><a href='/admin/groups/{{group.id}}'>{{ group.name }}</a></td>
    </tr>
{% endmacro %}
{% set headers = ['Creation', 'MAJ', 'Organisation', 'Utilisateurs', 'Nom'] %}

<div class="fr-container">
    {{ data_table(headers, groups, formatter) }}
</div>

{% endblock %}
