{% extends "base.html" %}

{% block content %}
<div class="fr-container">
    <h1>Bienvenue sur l’admin de D-Roles</h1>

    {% if is_authenticated %}
        <p>Bonjour, {{ user_email }}!</p>


        <a href="/auth/pro-connect/logout" class="fr-btn fr-btn--secondary">
            Déconnexion
        </a>
    {% else %}
    <div className="fr-connect-group">
            <a
            className="fr-connect pro-connect"
            href="/auth/pro-connect/login"
            >
            <span className="fr-connect__login">S’identifier avec</span>
            <span className="fr-connect__brand">ProConnect</span>
        </a>
        <p>
        <a
            href="https://www.proconnect.gouv.fr/"
            target="_blank"
            rel="noopener"
            title="Qu'est-ce que ProConnect ? - nouvelle fenêtre"
        >
            Qu’est-ce que ProConnect ?
        </a>
        </p>
      </div>
        <a " class="fr-btn fr-btn--primary">
            Connexion avec ProConnect
        </a>
    {% endif %}
</div>
{% endblock %}
