{% extends "base.html" %}
{% from "components/table.html" import data_table %}

{% block content %}

{% macro formatter(sp) %}
    <tr>
        <td>{{ sp.created_at.strftime('%d/%m/%Y') }}</td>
        <td>{{ sp.updated_at.strftime('%d/%m/%Y') }} {{ sp.updated_at.strftime('%H:%M:%S') }}</td>
        <td>{{sp.id}}</td>
        <td><a href='/admin/service-providers/{{sp.id}}'>{{ sp.name }}</a></td>
    </tr>
{% endmacro %}
{% set headers = ['Creation', 'MAJ', 'ID', 'Nom'] %}

<div class="fr-container">
    {{ data_table(headers, service_providers, formatter) }}
</div>

{% endblock %}
