{% extends "layout.html" %}
{% from "components/header.html" import header %}
{% from "components/footer.html" import footer %}

{% block body_content %}
{{ header(true, is_authenticated, user_email, is_super_admin) }}
<main>

    <div class="fr-container">
        <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
            <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
                Voir le fil d’Ariane
            </button>
            <div class="fr-collapse" id="breadcrumb-1">
                <ol class="fr-breadcrumb__list">
                    {% if breadcrumb_items %}
                        {% for item in breadcrumb_items %}
                            <li>
                                <a class="fr-breadcrumb__link" href="{{ item.path }}">{{ item.label }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    <li>
                        <a class="fr-breadcrumb__link" aria-current="page">{{title}}</a>
                    </li>
                </ol>
            </div>
        </nav>
        <h1>{{ title }}</h1>
    </div>
    {% block content %}{% endblock %}
</main>
{{ footer()}}
{% endblock %}
