{% from "components/table.html" import data_table %}

{% macro log_formatter(log) %}
    <tr class="log-row" data-log-id="{{ log.id }}">
        <td>
            <span class="fr-text--bold">{{ log.created_at.strftime('%d/%m/%Y') }}</span>
        </td>
        <td>
            <span class="fr-text--xs">{{ log.created_at.strftime('%H:%M:%S') }}</span>
        </td>
        <td>
            <span title="{{log.resource_type}}" class="fr-badge fr-badge--sm fr-badge--blue-france">
                {{ log.resource_type | truncate(15) }}
            </span>
        </td>
        <td>
            <code class="fr-text--xs">{{ log.resource_id }}</code>
        </td>
        <td title="{{ log.action_type }}">
            {{ log.action_type | truncate(15) }}
        </td>
        <td>
            <a href="/admin/service-providers/{{log.service_provider_id}}">FS {{ log.service_provider_id }}
            | Compte {{ log.service_account_id }}</a>
        </td>
        <td>
            {% if log.acting_user_sub %}
                {% if log.acting_user_email %}
                    <a href="/admin/users/{{ log.acting_user_id }}">{{log.acting_user_email}} </a>
                {% else %}
                    <code>{{ log.acting_user_sub | truncate(11) }}</code>
                {% endif %}
                <br/>
            {% else %}
                <i>Non renseigné</i>
            {% endif %}

        </td>
        <td>
            {% if log.parsed_values %}
                {% for key, value in log.parsed_values.items() %}
                    <span class="fr-badge fr-badge--sm fr-badge--blue-france">
                        <strong>{{ key }}&nbsp;:</strong>&nbsp;{{ value }}
                    </span>
                {% endfor %}
            {% else %}
                <i>Aucune valeur</i>
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro logs_table(logs) %}
    {% set headers = ['Date', 'Heure', 'Resource', 'ID', 'Action', 'SP', 'Responsable', 'Valeurs'] %}

    {{ data_table(headers, logs, log_formatter) }}
{% endmacro %}
