{% extends "base_admin.html" %}
{% from "components/logs_table.html" import logs_table %}
{% from "components/table.html" import data_table %}

{% set users_headers = ['Date d’ajout', 'id', 'Role', 'Etat', 'Email', 'Action'] %}
{% macro user_formatter(user) %}
<tr>
    <td>{{ user.created_at.strftime('%d/%m/%Y') }}</td>
    <td>{{ user.id }}</td>
    <td>
      {% if user.role == 'administrateur' %}
      <span class="fr-badge fr-badge--new">{{user.role}}</span>
      {% else %}
      <strong>{{ user.role | upper }}</strong>
      {% endif %}
    </td>
    <td>
        {% if user.is_verified %}
        <span class="fr-badge fr-badge--success">
          Vérifié
        </span>
        {% else %}
        <span class="fr-badge">
          Non vérifié
        </span>
        {% endif %}
      </td>
      <td><a href="/admin/users/{{user.id}}">{{user.email}}</a></td>
      <td>
        {% if user.role != 'administrateur' %}
          <form method="GET" action="/admin/groups/{{ details.id }}/set-admin/{{ user.id }}" style="display: inline;">
              <button type="submit" class="fr-btn fr-btn--sm fr-btn--secondary" onclick="return confirm('Êtes-vous sûr de vouloir nommer cet utilisateur administrateur ? Attention, cette action n’est pas logguée et ne peut pas être annulée.')">
                  Set admin
              </button>
          </form>
        {% endif %}
    </td>
</tr>
{% endmacro %}

{% set scopes_headers = ['Creation', 'MAJ', 'Service', 'Description', 'Contrat', 'Scopes'] %}
{% macro scope_formatter(scope) %}
{% set scopes_list = scope.scopes.split(' ') %}
<tr>
    <td>{{ scope.created_at.strftime('%d/%m/%Y') }}</td>
    <td>{{ scope.updated_at.strftime('%d/%m/%Y') }} {{ scope.updated_at.strftime('%H:%M:%S') }}</td>
    <td>{{scope.service_provider_name}} ({{ scope.service_provider_id }})</td>
    <td>{{scope.contract_description}}</td>
    <td>{{scope.contract_url}}</td>
    <td>
      {% if scopes_list %}
        {% for s in scopes_list %}
            <span class="fr-badge fr-badge--sm">
                {{ s }}
            </span>
            <br/>
        {% endfor %}
      {% else %}
          <i>Aucune valeur</i>
      {% endif %}
    </td>
</tr>
{% endmacro %}


{% block content %}
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--right">
      <div class="fr-col-auto">
        <button type="button"
                class="fr-btn fr-btn--sm fr-btn--secondary"
                hx-delete="/admin/groups/{{ details.id }}"
                hx-confirm="Êtes-vous sûr de vouloir supprimer ce groupe ? Cette action est irréversible et supprimera toutes les données associées (utilisateurs, scopes, etc.)."
                hx-target="body"
                hx-push-url="/admin/groups">
          ⚠️ Supprimer le groupe
        </button>
      </div>
  </div>
  <h2>Informations générales</h2>

  <div class="fr-container">
    <ul>
      <li>Name : {{ details.name }}</li>
      <li>Creation : {{ details.created_at.strftime('%d/%m/%Y')}} {{ details.created_at.strftime('%H:%M:%S') }}</li>
      <li>MAJ : {{ details.updated_at.strftime('%d/%m/%Y') }} {{ details.updated_at.strftime('%H:%M:%S') }}</li>
      <li>Orga : {{details.organisation_name}} ({{ details.organisation_siret }})</li>
    </ul>
  </div>

  <h2>Droits (scopes)</h2>
  {{ data_table(scopes_headers, scopes, scope_formatter) }}

  <h2>Utilisateurs</h2>
  {{ data_table(users_headers, users, user_formatter) }}

  <h2>Logs</h2>
  {{ logs_table(logs) }}

  <br/>
{% endblock %}
