{% extends "base_admin.html" %}
{% from "components/logs_table.html" import logs_table %}
{% from "components/table.html" import data_table %}

{% set headers = ['Création', 'ID', 'Client ID', 'Client secret', 'Compte actif', 'Activer/désactiver'] %}
{% macro formatter(sa) %}
<tr>
    <td>{{ sa.created_at.strftime('%d/%m/%Y') }}</td>
    <td>{{ sa.id }}</td>
    <td>{{ sa.name }}</td>
    <td id="secret-cell-{{ sa.id }}">
        <button class="fr-btn fr-btn--sm fr-btn--tertiary"
          hx-get="/admin/service-providers/{{ service_provider_id }}/accounts/{{ sa.id }}/reset"
          hx-target="#secret-cell-{{ sa.id }}"
          hx-swap="innerHTML"
          hx-confirm="Êtes-vous sûr de vouloir réinitialiser le secret ? Cette action est irréversible.

Attention, cette action n’est pas logguée et ne peut pas être annulée.

Le secret ne vous sera montré qu’une seule fois et sera innaccessible par la suite.

Copiez le et partagez le de manière sécurisé à l’équipe concernée."
          hx-indicator="#loading-{{ sa.id }}">
          Reset
        </button>
        <span id="loading-{{ sa.id }}" class="htmx-indicator">
            <i>Chargement...</i>
        </span>
    </td>
    <td>
      {% if sa.is_active %}
        <span class="fr-badge fr-badge--success">
            Actif
        </span>
      {% else %}
        <span class="fr-badge fr-badge--error">
            Inactif
        </span>
      {% endif %}
    </td>
    <td>{% if sa.is_active %}
        <form method="POST" action="/admin/service-providers/{{ service_provider_id }}/accounts/{{ sa.id }}/activate/false" style="display: inline;">
            <button type="submit" class="fr-btn fr-btn--sm fr-btn--secondary">
                Désactiver
            </button>
        </form>
    {% else %}
        <form method="POST" action="/admin/service-providers/{{ service_provider_id }}/accounts/{{ sa.id }}/activate/true" style="display: inline;">
            <button type="submit" class="fr-btn fr-btn--sm fr-btn--secondary" >
                Activer
            </button>
        </form>
    {% endif %}
  </td>
</tr>
{% endmacro %}



{% block content %}
<div class="fr-container">
  <h2>Comptes de service</h2>
  <div class="fr-grid-row fr-grid-row--right">
      <div class="fr-col-auto">
          <a class="fr-btn fr-btn--sm fr-btn--secondary" onclick="return confirm('Êtes-vous sûr de vouloir créer un nouveau compte de service ? \nLe compte va être créé avec un client_id aléatoire et immédiatement après, vous pourrez cliquer sur “Reset” afin de générer un client_secret.')" href='/admin/service-providers/{{ service_provider_id }}/accounts/create'>
              Créer un nouveau compte de service
          </a>
      </div>
    </div>
  {{ data_table(headers, service_accounts, formatter) }}

  <h2>Logs</h2>
  {{ logs_table(logs) }}

  <br/>
{% endblock %}
