{% extends "base_admin.html" %}
{% from "components/logs_table.html" import logs_table %}
{% from "components/table.html" import data_table %}

{% set headers = ['Date d’ajout', 'id', 'Role', 'Nom du groupe'] %}
{% macro formatter(group) %}
<tr>
    <td>{{ group.created_at.strftime('%d/%m/%Y') }}</td>
    <td>{{ group.id }}</td>
    <td>{{ group.role }}</td>
    <td><a href="/admin/groups/{{group.id}}">{{ group.name }}</a></td>
</tr>
{% endmacro %}


{% block content %}
<div class="fr-container">
  {% if user %}
  <div class="fr-grid-row fr-grid-row--right">
    <div class="fr-col-auto">
      <button type="button"
      class="fr-btn fr-btn--sm fr-btn--secondary"
                  hx-delete="/admin/users/{{ user.id }}"
                  hx-confirm="Êtes-vous sûr de vouloir supprimer cet utilisateur ? Cette action est irréversible et supprimera toutes les données associées (liens avec les groupes, etc.)."
                  hx-target="body"
                  hx-push-url="/admin/users">
          ⚠️ Supprimer l'utilisateur
      </button>
    </div>
  </div>
  {% endif %}
  <h2>Groupes</h2>
  {{ data_table(headers, groups, formatter) }}

  <h2>Logs</h2>
  {{ logs_table(logs) }}

  <br/>
{% endblock %}
